[Desktop Entry]
Name=Soplos WebApp Manager
Name[es]=Gestor de WebApps Soplos
Name[en]=Soplos WebApp Manager
Name[fr]=Gestionnaire WebApp Soplos
Name[de]=Soplos WebApp-Manager
Name[pt]=Gerenciador de WebApps Soplos
Name[it]=Gestore WebApp Soplos
Name[ro]=Manager WebApp Soplos
Name[ru]=Менеджер WebApp Soplos
Comment=Create and manage isolated Web Applications
Comment[es]=Crea y gestiona aplicaciones web aisladas
Comment[en]=Create and manage isolated Web Applications
Comment[fr]=Créer et gérer des applications web isolées
Comment[de]=Isolierte Webanwendungen erstellen und verwalten
Comment[pt]=Criar e gerenciar aplicações web isoladas
Comment[it]=Crea e gestisci applicazioni web isolate
Comment[ro]=Creați și gestionați aplicații web izolate
Comment[ru]=Создание и управление изолированными веб-приложениями
Exec=soplos-webapp-manager
Icon=org.soplos.webappmanager
Terminal=false
Type=Application
Categories=System;Settings;
StartupNotify=true
GenericName=WebApp Manager
GenericName[en]=WebApp Manager
GenericName[es]=Gestor de WebApps
GenericName[fr]=Gestionnaire de WebApps
GenericName[de]=WebApp-Manager
GenericName[pt]=Gerenciador de WebApps
GenericName[it]=Gestore di WebApp
GenericName[ro]=Manager de WebApp
GenericName[ru]=Менеджер веб-приложений
Keywords=webapp;browser;web;ssb;
Keywords[en]=webapp;browser;web;ssb;
Keywords[es]=webapp;navegador;web;aplicación;
Keywords[fr]=webapp;navigateur;web;application;
Keywords[de]=webapp;browser;web;anwendung;
Keywords[pt]=webapp;navegador;web;aplicação;
Keywords[it]=webapp;browser;web;applicazione;
Keywords[ro]=webapp;browser;web;aplicație;
Keywords[ru]=webapp;браузер;веб;приложение;
